/* 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: large;
}

.link.active {
  background-color: #555;
}

@media screen and (max-width: 1280px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .link {
      display: block;
      margin: 10px 0;
  }
}
*/

/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--site-surface);
  padding: 10px;
  flex-wrap: wrap;
  width: 80%;
}

.link {
  color: var(--site-ink);
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: large;
}

.link.active {
  background-color: #f1d7e5;
}

@media screen and (max-width: 1280px) {
  .link {
      display: block;
      margin: 10px 0;
  }
}



