
.container{
  width: 100%;
  height: 100%;
  
  
}

.carousel {
  width: 100%;
  margin: 0 auto;
  background-image: url(../../img/banner2.jpg);
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  display: flex;
  opacity: 0.9;
  
}



.carousel-inner {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 1;
}

.carousel-item {
  flex: 0 0 100%;
  transition: transform 0.9s ease-in-out;
  opacity: 0;
}

.carousel-item.active{
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  background-color: #a30048;
  height: 50px;
  margin: auto;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  background-color: #a30048;
  left: 10%;
  right: 10%;
  margin: 10px auto;
}

.carousel-indicators li {
  background-color: #888;
  margin: 0 5px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #333;
}


@media screen and (max-width: 768px) {

  .carousel {
    width: 100%;

  }
  .carousel-inner {
    width: 70%;
  }
  .carousel-item {
    flex: 0 0 100%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
  }
  .carousel-indicators {
    left: 0;
    right: 0;
  }
}
  



