.App{
    text-align: center;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: var(--site-bg);
    
}

@media screen and (max-width: 768px) {
    .App{
        min-height: 70vh;
    }
}

@media screen and (max-width: 576px) {
    .App{
        min-height: 70vh;
    }
}
  
